/* @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); */

.progress, .progress-done  {
	box-sizing: border-box;
}
/* 
body {
	background-color: #f4f4f4;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
} */

.progress {
	background-color: #706e6e;
	border-radius: 10px;
	position: relative;
	margin: 15px 0;
	height: 10px;
	width: 100;
}

.progress-done {
	/* background: linear-gradient(to left, #d12c2c, #913232); */
	/* box-shadow: 0 3px 3px -5px #d12c2c, 0 2px 5px #d12c2c; */
	border-radius: 5px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ;
}